@charset "UTF-8";

body{
	background: #6667ab;
}

.lato-regular{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-lista{
	max-height: 300px;
	 overflow-y: auto;
}
	
.bg-nav{
	background-color: #f0edff;
}


.hoverb:hover {
    color: white; 
    background-color: #6667ab; 
    transition: background-color 0.5s ease, color 0.5s ease;
    border-radius: 4px;
}

.btnadd{
	color: white; 
	background-color: #6667ab;
	border-radius: 4px;
}

.btnadd:hover {
	color: white; 
	background-color: #9c9ae3;
	border-radius: 4px;
}

.table{
	border-radius: 2%;
}

.modal-body {
    padding: 0; 
}

.modal-dialog {
    max-height: 90vh; 
    margin: 5% auto; 
}

